body {
    background-color: #f2f2f2;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}





