@import "https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap";

$accent-color: #23b2a4;
$lambda-accent: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
  user-select: none;
}


html, body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}


body {
  .popup {
    .modal {
      position: absolute;
      z-index: 999;
      background-color: #dddddd;
      max-width: 40vw;
      padding: 48px 64px;
      border-radius: 15px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: 500;
      max-height: 80%;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        background: transparent;
        width: 6px;
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $accent-color;
        border-radius: 100vmax;
      }

      &::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 12px;
      }

      &::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 12px;
      }

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        list-style: none;
        padding-top: 16px;

        li {
          &::before {
            content: '- ';
            margin-left: 16px;
          }
        }
      }

      .button {
        background-color: $accent-color;
        color: white;
        padding: 8px 16px;
        width: fit-content;
        margin: 16px auto 0;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
      }
    }


    .backdrop {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #333333;
      opacity: 0.7;
      left: 0;
      top: 0;
      backdrop-filter: blur(50px);
      z-index: 998;
    }
  }

  &#not-found {
    overflow: hidden;

    main {
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      position: relative;
      z-index: 2;
      color: white;

      .error-code {
        font-size: 124px;
        text-align: center;
        font-weight: 900;
        display: flex;
        column-gap: 4px;
        justify-content: center;

        div {
          display: inline-block;
        }
      }

      p {
        font-size: 20px;

        span {
          display: inline-block;
        }
      }
    }

    video {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 150%;
      transform: translate(-50%, -50%);
      aspect-ratio: 16/9;
      object-fit: cover;
      filter: grayscale(1) blur(20px);
      opacity: 0;
    }

    .logo {
      position: absolute;
      top: 24px;
      left: 50%;
      aspect-ratio: 1;
      width: 32px;
      transform: translateX(-50%);
    }
  }

  &#home {
    display: grid;
    place-content: center;

    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center;
      row-gap: 24px;

      .logos {
        display: flex;
        align-items: center;
        column-gap: 16px;
        font-weight: 900;

        .logo {
          width: 72px;
        }

        span:last-of-type {
          font-size: 28px;
          font-weight: 700;
          color: $accent-color;
        }
      }

      .presentation {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        font-weight: 600;
        font-size: 18px;

        p {
          text-align: center;
        }

        span {
          &.accent {
            color: $accent-color;
          }

          &.bold {
            font-weight: 900;
            text-transform: uppercase;
          }

          &.discrete {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      button {
        border: none;
        padding: 16px 24px;
        border-radius: 8px;
        font-weight: 800;
        cursor: pointer;
        background-color: $accent-color;
        color: white;
        text-transform: uppercase;
        transition: all 0.8s ease;
        will-change: transform, box-shadow;

        &:hover {
          transform: scale(1.025);
          box-shadow: 0 0 30px rgba(#000000, 0.3);
        }
      }
    }
  }

  &#login-page {
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .container {
      width: 400px;
      height: 400px;
      text-align: center;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 40px;
    }

    form {
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      padding: 40px;
      border-radius: 10px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 18px;
      border: none;
      border-bottom: 2px solid #ddd;
      background-color: transparent;
    }

    input[name="submit"] {
      width: 100%;
      padding: 10px;
      font-size: 18px;
      background-color: $lambda-accent;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
    }

    input[name="submite"]:hover {
      background-color: #000;
    }

    input[name="sub"] {
      width: 100%;
      font-size: 18px;
      background-color: #ffffff;
      color: #ffffff;
      border: none;
      border-radius: 10px;
    }
  }

  &#admin-page {
    display: grid;
    place-content: center;

    h1 {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
    }
  }

  &#win-page {
    display: grid;
    place-content: center;

    a {
      color: #23b2a4;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
